sudo:     required
language: go
go:       "1.14"
services: redis-server
before_install: sudo apt-get update -y && sudo apt-get install stunnel4 -y
install: make bootstrap_redis_tls
before_script: 
- redis-server --port 6380 &
- redis-server --port 6381 --requirepass password123 &
- redis-server --port 6382 --requirepass password123 &
- redis-server --port 6384 --requirepass password123 &
- redis-server --port 6385 --requirepass password123 &
script: make check_format tests
