---
domain: rl
descriptors:
  - key: source_cluster
    value: proxy
    descriptors:
      - key: destination_cluster
        value: mock
        rate_limit:
          unit: minute
          requests_per_unit: 1
  - key: foo
    rate_limit:
      unit: minute
      requests_per_unit: 2
    descriptors:
      - key: bar
        rate_limit:
          unit: minute
          requests_per_unit: 3
      - key: bar
        value: banned
        rate_limit:
          unit: minute
          requests_per_unit: 0
      - key: baz
        rate_limit:
          unit: second
          requests_per_unit: 1
      - key: baz
        value: not-so-shady
        rate_limit:
          unit: minute
          requests_per_unit: 3
      - key: baz
        value: shady
        rate_limit:
          unit: minute
          requests_per_unit: 3
        shadow_mode: true
      - key: bay
        rate_limit:
          unlimited: true
  - key: qux
    rate_limit:
      unlimited: true
