name: CI Build and Test for PR

on:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: check format
        run: make check_format

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build and test
        run: make docker_tests

  precommits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - uses: actions/setup-go@v2
        with:
          go-version: "1.20"

      - name: run pre-commits
        run: |
          make precommit_install
          pre-commit run -a

      # If previous stage fails, print resolution steps
      - if: ${{ failure() }}
        name: Read for resolution steps
        run: |
          echo "Pre-commits failed! Run 'make precommit_install' then 'pre-commits run -a' to fix."
          exit 1
